@import "../../../../../Scss/mixins";
@import "../../../../../Scss/placeholder";
@import " ../../../../../../../Scss/variables";

.newPostButton {
  @extend %center-flex;
  button {
    background-color: $tertiary-color;
    color: white;
    font-size: 1.5rem;
  }
}
