@import "~../../../../../../../Scss/_variables";
@import "~../../../../../../../Scss/_mixins";
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 50%;
  height: 80%;
  @include center-item;
  background: linear-gradient(
    8deg,
    rgba(255, 215, 215, 0.6458333333333333) 0%,
    rgba(255, 215, 215, 0.8912037037037037) 50%,
    rgba(255, 215, 215, 1) 100%
  );
}

.mainLoginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 60%;
  @include center-item;
  .mat-card-title {
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
    color: $tertiary-color;
    font-weight: bold;
  }
}

.mat-card-actions {
  text-align: center;

  height: 3rem;

  button {
    color: white;
    background: #4e5166;
    width: 50%;
    height: 100%;
    cursor: pointer;
  }
  :hover {
    // background-color: rgba(255, 215, 215, 1);
    // color: black;
    animation: scale-button 1.5s ease-out 0.4s infinite normal none;
  }
}

.option {
  width: auto;
  @include center-item;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  p {
    color: $tertiary-color;
  }

  a {
    text-decoration: underline;
    font-weight: bold;
    color: rgba(130, 141, 213, 1);
  }
}

.mat-spinner {
  @include center-item;
}

@keyframes scale-button {
  0% {
    transform: scale(1);
    color: white;
    background: $tertiary-color;
  }
  50% {
    transform: scale(1.1);
    background-color: rgba(255, 215, 215, 1);
    color: black;
  }
  100% {
    scale: (1);
    color: white;
    background: $tertiary-color;
  }
}
