@import "~../../../../../../../Scss/_variables";
@import "~../../../../../../../Scss/mixins";
@import "../../../../../Scss/placeholder";

.signupForm {
  @extend %center-item;
  padding-bottom: 30px;
  position: relative;
  width: 70%;
  background: $background-connexion;
  height: 55rem;
  @include mobile {
    height: 73rem;
  }
  .mat-card-title {
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
    color: $tertiary-color;
    font-weight: bold;
    font-size: 1.8rem;
  }
  .mat-card-subtitle {
    color: $tertiary-color;
    font-weight: 450;
    font-size: 1.5rem;
  }
}

mat-form-field {
  width: 45%;
  &.full-width {
    width: 80%;
    margin-left: 10%;
  }
  @include mobile {
    width: 100%;
  }
}

.form-row {
  @extend %flex-row-between;
  @include mobile {
    display: flex;
    flex-direction: column;
    height: 10rem;
  }
}

.form-card {
  margin: 20px 0;
  text-align: center;
  height: 8rem;

  @include mobile {
    height: 15rem;
  }
}

.password-card {
  height: 10rem;
  @include mobile {
    height: 15rem;
  }
}
.center-mobile {
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

mat-card-actions {
  text-align: center;
  height: 3rem;
  button {
    color: white;
    background: $background-light-blue;
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
    @include mobile {
      font-size: 1.2rem;
    }
  }
}

.option {
  width: auto;
  @extend %center-item;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  @include mobile {
    font-size: 1.2rem;
  }
  p {
    color: $tertiary-color;
  }

  a {
    text-decoration: underline;
    font-weight: bold;
    color: $background-light-blue;
  }
}

.error-txt {
  color: red;
  margin-right: 10px;
}

.txt-password {
  display: block;
  margin-top: 13px;
}
.mat-spinner {
  @extend %center-item;
}
