@import "~../../../../../../../Scss/_variables";
@import "~../../../../../../../Scss/mixins";
@import "../../../../../Scss/placeholder";

.signupForm {
  @extend %center-item;
  padding-bottom: 30px;
  position: relative;
  width: 70%;
  background: $background-connexion;
  height: 45rem;
  .mat-card-title {
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
    color: $tertiary-color;
    font-weight: bold;
  }
  .mat-card-subtitle {
    color: $tertiary-color;
    font-weight: 450;
  }
}

mat-form-field {
  width: 45%;
  &.full-width {
    width: 80%;
    margin-left: 10%;
  }
  @include mobile {
    width: 100%;
  }
}

.form-row {
  @extend %flex-row-between;
  @include mobile {
    flex-direction: column;
  }
}

.form-card {
  margin: 20px 0;
  text-align: center;
  height: 8rem;
  @include mobile {
    height: 10rem;
  }
}

mat-card-actions {
  text-align: center;
  height: 3rem;
  button {
    color: white;
    background: $background-light-blue;
    width: 50%;
    height: 100%;
  }
}

.option {
  width: auto;
  @extend %center-item;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  p {
    color: $tertiary-color;
  }

  a {
    text-decoration: underline;
    font-weight: bold;
    color: $background-light-blue;
  }
}

.error-txt {
  color: red;
  margin-right: 10px;
}
