@import "../../../../../Scss/mixins";
@import "../../../../../Scss/variables";
@import "../../../../../Scss/placeholder";

// .mainContainer {
//   @include center-item;
//   width: 50rem;
//   height: 100%;
//   background: rgb(187, 160, 109);
// }

.newPostForm {
  @extend %center-item;
  width: 90%;
  height: 40rem;
  @extend %column-space-evenly;
  align-items: center;
  background: $background-connexion;
}
.form-card {
  width: 80%;
  text-align: center;
}

.mat-form-field {
  width: 70%;
}

.image-card {
  @extend %column-space-between;
  align-items: center;
}

mat-card-title {
  color: $tertiary-color;
  font-weight: 800;
  font-size: 2rem;
  @include tablet {
    font-size: 1.8rem;
  }
  @include mobile {
    font-size: 1.3rem;
    text-align: center;
  }
}

mat-card-subtitle {
  font-weight: 700;
  color: $tertiary-color;
  font-size: 1.8rem;
  @include tablet {
    font-size: 1.5rem;
  }
  @include mobile {
    font-size: 1.2rem;
  }
}
mat-error {
  color: red;
}

input[type="file"] {
  display: none;
}

.add-image,
.submit-button {
  background-color: $tertiary-color;
  color: white;
  font-size: 1.8rem;
  @include tablet {
    font-size: 1.5rem;
  }
  @include mobile {
    font-size: 1.2rem;
  }
}
.image-upload {
  max-height: 10rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

// .submit-button {
//   font-size: 1.8rem;
// }
