@import "../../../Scss/variables";
@import "../../../Scss/mixins";

footer {
  margin-top: 5rem;
  margin-bottom: auto;
  height: 10rem;
  width: 100%;
  background: $background-h-f;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: auto;
}
li {
  text-align: center;
  color: white;
  list-style-type: none;
  @include footer-flex;
}

a {
  width: auto;
  @include footer-flex;
  //   color: #4e5166;
  color: $tertiary-color;
}
.imgContainer {
  text-align: center;
  height: 30%;
  width: auto;
}
img {
  height: 5rem;
  width: 50%;
  text-align: center;
}
