@import "../../../Scss/mixins";
@import "../../../Scss/variables";

.primaryContainer {
  @include column-space-evenly;
  margin-top: 12.5rem;
  width: 50%;
  height: 50%;
  @include center-item;
  // background-color: #ffd7d7;
  background: $background-connexion;
}

.container {
  @include column-space-evenly;
  height: 70%;
  background: linear-gradient(
    8deg,
    rgba(255, 215, 215, 0.22) 0%,
    rgba(255, 215, 215, 0.6458333333333333) 50%
  );
}
.centerTitle {
  font-size: 2rem;
}
mat-card-title {
  text-align: center;
}
img {
  height: 8%;
}
.login,
.signup {
  height: 25%;
  text-align: center;
  @include column-space-evenly;
  align-items: center;

  background: #fcf4f4;
}

mat-card-subtitle {
  font-size: 1rem;
}
button {
  font-size: 1.3rem;
  padding: 0;
  line-height: 40px;
  flex-shrink: 0;
  padding: 0 10px 0 10px;
  color: white;
  background: $background-light-blue;
}

//Media querys a prevoir pour réajuster la taille du composant
