@import "../../../Scss/mixins";
@import "../../../Scss/variables";
@import "../../../Scss/placeholder";

.primaryContainer {
  @extend %column-space-evenly;

  width: 50%;
  height: 35rem;
  @extend %center-item;

  background: $background-connexion;
}

.container {
  @extend %column-space-evenly;
  height: 70%;
  background: linear-gradient(
    8deg,
    rgba(255, 215, 215, 0.22) 0%,
    rgba(255, 215, 215, 0.6458333333333333) 50%
  );
}
.centerTitle {
  font-size: 2rem;

  @include tablet {
    font-size: 1.3rem;
  }
  @include mobile {
    font-size: 1.5rem;
  }
}
mat-card-title {
  text-align: center;
}
img {
  height: 8%;
}
.login,
.signup {
  height: 25%;
  text-align: center;
  @extend %column-space-evenly;
  align-items: center;

  background: #fcf4f4;
}

mat-card-subtitle {
  font-size: 1.8rem;
  color: $tertiary-color;
  width: 25rem;

  @include tablet {
    font-size: 1.3rem;
    width: 15rem;
  }

  @include mobile {
    font-size: 0.9rem;
  }
}
button {
  font-size: 1.8rem;
  padding: 0;
  line-height: 40px;
  flex-shrink: 0;
  padding: 0 10px 0 10px;
  color: white;
  background: $background-light-blue;

  @include tablet {
    font-size: 1.3rem;
  }

  @include mobile {
    font-size: 0.9rem;
  }
}

//Media querys a prevoir pour réajuster la taille du composant
