.primaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 12.5rem;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  // background-color: #ffd7d7;
  background: linear-gradient(
    8deg,
    rgba(255, 215, 215, 0.6458333333333333) 0%,
    rgba(255, 215, 215, 0.8912037037037037) 50%,
    rgba(255, 215, 215, 1) 100%
  );
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  background: linear-gradient(
    8deg,
    rgba(255, 215, 215, 0.22) 0%,
    rgba(255, 215, 215, 0.6458333333333333) 50%
  );
}
.centerTitle {
  font-size: 2rem;
}
mat-card-title {
  text-align: center;
}
img {
  height: 8%;
}
.login,
.signup {
  height: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #fcf4f4;
}

mat-card-subtitle {
  font-size: 1rem;
}
button {
  font-size: 1.3rem;
  padding: 0;
  line-height: 40px;
  flex-shrink: 0;
  padding: 0 10px 0 10px;
  color: white;
  background: rgba(130, 141, 213, 1);
}

//Media querys a prevoir pour réajuster la taille du composant
