@import "../../../Scss/variables";

header {
  background: $background-h-f;
  margin-bottom: 5rem;
  padding: 10px 0 10px 0;
  height: 10rem;
  width: auto;
  position: relative;

  img {
    height: 5rem;
    width: 50%;
    text-align: center;
  }
  h1 {
    font-size: 1.8rem;
    width: auto;
    text-align: center;
  }
}

.imageContainer {
  text-align: center;
}
button {
  width: 7rem;
  height: 2rem;
  position: absolute;
  top: 80%;
  left: 45%;
  transform: (-50%, -50%);
}
