@import "../../../Scss/variables";
@import "../../../Scss/mixins";
@import "../../../Scss/placeholder";

header {
  background: $background-h-f;
  margin-bottom: 3rem;
  padding: 10px 0 10px 0;
  height: 10rem;
  width: auto;

  img {
    height: 5rem;
    width: 25rem;
    text-align: center;

    @include tablet {
      width: 15rem;
    }
  }
  h1 {
    font-size: 1.8rem;
    width: auto;
    text-align: center;

    @include tablet {
      font-size: 1.3rem;
    }
    @include mobile {
      font-size: 1rem;
    }
  }
}

.imageContainer {
  text-align: center;
}

.center-button {
  @extend %center-flex;
}
button {
  background-color: $tertiary-color;
  color: white;
  font-size: 0.8rem;
}
