@import "../../../../../Scss/mixins";
@import "../../../../../Scss/variables";
@import "../../../../../Scss/placeholder";

.post-card {
  box-sizing: border-box;
  box-shadow: lightgray 4px 4px 20px;
  border-radius: 25px;
  width: 70%;

  height: 75rem;
  margin: 50px auto;
  background: $background-post;
  padding: 5px;
  @include laptop {
    height: 50rem;
  }
}

.createInfo {
  @extend %flex-column-center;
}

.underline {
  width: 100%;
  text-align: center;
  border-bottom: 1px dotted black;
  margin: 10px 0 0 0;
  h2 {
    color: $tertiary-color;
    font-weight: bold;
    font-size: 2rem;
  }
  h3 {
    color: $primary-color;
    font-weight: 600;
    font-size: 1.2rem;
  }
  p {
    color: $tertiary-color;
    font-weight: 500;
    font-size: 1.1rem;
    span {
      font-weight: 800;
    }
  }
}

img {
  margin-top: 5px;
  width: 100%;
  height: 80%;
  object-fit: contain;
  @include laptop {
    height: 60%;
  }
  @include mobile {
    object-fit: cover;
  }
}

.containerDescription {
  height: 8.5rem;
  @extend %column-space-between;
}

.description {
  font-size: 1.4rem;
  text-align: center;
  @include mobile {
    font-size: 1rem;
  }
}
.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
  height: 2rem;
  i {
    font-size: 2rem;

    cursor: pointer;
    &:hover {
      color: rgb(41, 145, 9);
    }
  }

  p {
    margin-left: 0.8rem;
    font-size: 1.2rem;
  }
}

.liked {
  color: rgb(41, 145, 9);
}

.buttons {
  margin-bottom: 1.5rem;
  @extend %flex-row-between;
  @include mobile {
    flex-direction: column;
    margin-top: 1.5rem;
  }
}

.actionButtons {
  width: 13rem;
  @extend %flex-row-between;
  @include mobile {
    margin-top: 1.5rem;
  }
  button {
    background-color: $tertiary-color;
    color: white;
  }
}

p,
h2,
h3 {
  margin: 0;
}
