<div class="post-card" *ngIf="user">
  <div class="createInfo">
    <div class="underline">
      <h2>{{ post.title | titlecase }}</h2>
    </div>
    <div class="underline">
      <h3>{{ user.email }}</h3>
    </div>
    <div class="underline">
      <p>
        Mise en ligne par <span>{{ user.name | titlecase }}</span>
        {{ post.createdDate | date: "le dd MMMM yyyy à HH:mm" }}
      </p>
    </div>
  </div>

  <img [src]="post.imageUrl" [alt]="post.title" />
  <div class="containerDescription">
    <p class="description">{{ post.text }}</p>
    <div class="buttons">
      <div class="likes">
        <i
          [ngClass]="{ 'fas liked': liked, far: !liked }"
          class="fa-solid fa-heart"
          (click)="onLike()"
        ></i>
        <p>{{ likedMessage }}</p>
      </div>

      <div class="actionButtons">
        <button mat-raised-button *ngIf="disableButton" (click)="onModify()">
          Modifier
        </button>
        <button mat-raised-button *ngIf="disableButton" (click)="onDelete()">
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
